
.A{
    padding:10px;
}
.B{
    margin-top:150px;
}
.A button:last-child{
    background-color: aqua !important;
    outline: none;
    border: none;
}
body * i{
    font-size:40px;
    color: red;
    margin-bottom:20px
}
@media(max-width:768px){
    .C p{
        font-size: 17px;
    }
    .B .row div{
        text-align: center;
    }
}